<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <header>
      <span>Play as A Cute Little Girl</span> -
      <a href="{{ '/games' | relative_url }}">Games</a> |
      <!--<a href="{{ '/platforms' | relative_url }}">Platforms</a> |
      <a href="{{ '/genres' | relative_url }}">Genre</a> |
      <a href="{{ '/about.html' | relative_url }}">About</a>-->
    </header>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  {%- include footer.html -%}
  </body>
</html>