<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <header>
      {%- include content-defs.html -%}
      <span>Play as A Cute Little Girl</span> -
      <a href="{{ '/games' | relative_url }}">Games</a>
      {% if page.usenav != 'no' %}
      <a href="{{ '/platforms' | relative_url }}">Platforms</a>
      <a href="{{ '/genres' | relative_url }}">Genres</a>
      {% endif %}
      <a href="{{ '/search.html' | relative_url }}">Search</a>
    </header>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  {%- include footer.html -%}
  </body>
</html>