---
layout: default
---
    <h1><span>{{ page.title }}</span></h1>
    {% if page.altnames %}
      <div class="altnames">
        Alternative Titles:
        {% if page.altnames.first %}
          {% for altname in page.altnames %}
            <span class="altname">{{altname}}</span>
          {% endfor %}
        {% else %}
          <span class="altname">{{altname}}</span>
        {% endif %}
      </div>

    {% endif %}
    <section>

      {% if page.image %}
      <div class="detail-thumb-wrapper">
        <img class="detail-thumb" src="{{ page.image | relative_url }}">
        {% if page.video %}
          <a class="video-link" href="{{ page.video.link }}" target="_blank">{%- include video-icon.html -%}{{ page.video.label }}</a>
        {% endif %}
      </div>
      {% endif %}

      {% assign selected = page %}
      <div class="tag-container">
        <div class="platform-list">{%- include platform-links.html -%}</div>
        <div class="genre-list">{%- include genre-links.html -%}</div>
      </div>

      <div class="info-box-tag info-box info-box-detail">
        {{ content }}
      </div>
      
    </section>
