div,
h1,
h2,
h3,
body,
html {
  padding: 0px;
  margin: 0px;
}
h1 {
  font-size: 36px;
  color: #D33660;
}
body,
html {
  background-color: #FCD0DC;
  color: #64152a;
  font-family: Verdana, Helvitica, Geneva, Tahoma, Arial, sans-serif;
}
.navbar {
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  background-color: #64152a;
  color: #FCD0DC;
}
.navbar a {
  color: #FCD0DC;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border: 2px solid #F17A9A;
  border-radius: 10px;
  padding: 10px;
}
.navbar a:hover {
  color: #F17A9A;
}
.navbar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.navbar ul li {
  margin: 10px;
  margin-left: 10px;
  padding: 10px;
  display: inline-block;
  vertical-align: bottom;
}
.type-header {
  font-size: 13px;
  letter-spacing: 0.1ex;
  text-transform: uppercase;
  display: inline-block;
  background-color: #CBF6E6;
  color: #289D71;
  padding: 2px;
}
.content-wrap {
  box-sizing: border-box;
  max-width: 900px;
  margin: auto;
}
.linked-platform a,
span.unlinked-platform {
  display: inline-block;
  padding: 10px;
  background-color: #CBF6E6;
  color: #D33660;
  border-radius: 15px;
}
.linked-genre a,
span.unlinked-genre {
  display: inline-block;
  padding: 10px;
  background-color: #F5FED2;
  color: #D33660;
  border-radius: 15px;
}
.index-entry {
  border: 2px solid #D33660;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.index-entry:nth-of-type(even) {
  background-color: #D33660;
  color: #FCD0DC;
}
@media screen and (min-width: 600px) {
  .index-entry {
    flex-direction: row;
  }
  .index-entry .thumb-area {
    flex-basis: 30%;
  }
  .index-entry .entry-meta {
    padding-left: 10px;
    flex-basis: 70%;
  }
}
.game-area {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
.game-area > .index-entry {
  flex-basis: 100%;
  box-sizing: border-box;
}
.index-entry .entry-meta {
  padding-top: 10px;
}
.index-entry .thumb-area img {
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 20px;
}
.meta-area,
.game-area {
  padding-top: 20px;
}
